<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <!--jyoti-->                          
     <add name="ShopDB" connectionString="Data Source=DESKTOP-IKF4E1H;Initial Catalog=db_Store;Persist Security Info=True;User ID=sa;Password=password@123"
         providerName="System.Data.SqlClient" />
    
     <!--Deepak-->
    <!--<add name="ShopDB" connectionString="Data Source=DEEPAK-PC;Initial Catalog=db_Store;User ID=sa;Password=password@123"
         providerName="System.Data.SqlClient" />-->
    
     <!--<add name="db_shopSMConnectionString" connectionString="Data Source=DESKTOP-JNJ9V6O;Initial Catalog=db_shopSM;User ID=sa;Password=password@123"
         providerName="System.Data.SqlClient" />-->
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				</assemblies>
		</compilation>
		<pages >
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages>
  
  </system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="false"/>
	</system.webServer>
</configuration>





    


